@model IEnumerable<MVC_Sample_1.Car>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h4> The temperature is @ViewData["Temperature"] degrees Celcius in @ViewData["Town"]</h4>
<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Cars" asp-action="Index">
    <p>
        <table>
            <thead>
                Search for:
                <input type="text" name="search" />
                <input type="submit" name="Search" />
            </thead>
        </table>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
